# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Custom volume icons
Icon

# Thumbnails and AppleDouble resource forks
._*

# Spotlight and Trash indexes
.Spotlight-V100
.Trashes

# Python artifacts
__pycache__/
*.pyc
.venv/
src/*.egg-info/
